@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 29, 35);
    width: 100%;
    padding: 1rem;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(40, 44, 52);
}
.player-container{
    padding:1rem;
}
.player-select{
    margin:2rem;
}
.pregame-prompt{
    color: white;
    font-family: 'Silkscreen', cursive;
}
.game-title{
    display: flex;
    justify-content: center;
    font-family: 'Silkscreen', cursive;
    font-size: 50px;
    color: white;
}
.board{
    display: grid;
    background-color: rgb(51, 56, 67);
    height: 500px;
    width: 500px;
    margin:1rem;
    visibility: hidden;
}
.box{
    display:flex;
    border: 5px solid rgb(33, 37, 43);
    font-size: 80px;
    justify-content: center;
    align-items: center;
    color: white;
}
.player-position{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    visibility: hidden;
}
.player-position *{
    color: white;
    font-family: 'Silkscreen', cursive;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.scores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    visibility: hidden;
}
.scores *{
    color: white;
    font-family: 'Silkscreen', cursive;
    margin-left: 1rem;
    margin-right: 1rem;
}
.pop-up{
    position: fixed;
    right: 40%;
    left: 40%;
    width: 20%;
    top:35%;
    height: 5rem;
}
.pop-up *{
    margin: 5px;
}