@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 29, 35);
    width: 100%;
    padding: 1rem;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(40, 44, 52);
}
.player-container{
    padding:1rem;
}
.player-select{
    margin:2rem;
}
.pregame-prompt{
    color: white;
    font-family: 'Silkscreen', cursive;
}
.game-title{
    display: flex;
    justify-content: center;
    font-family: 'Silkscreen', cursive;
    font-size: 50px;
    color: white;
}
.board{
    display: none;
    background-color: rgb(51, 56, 67);
    height: 600px;
    width: 600px;
    margin:1rem;
}
.box{
    display:flex;
    border: 5px solid rgb(33, 37, 43);
    font-family: 'Silkscreen', cursive;
    justify-content: center;
    align-items: center;
    color: white;
}
.animate{
    animation: shake 0.5s forwards;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.player-position{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.player-position *{
    color: white;
    font-family: 'Silkscreen', cursive;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.scores{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.scores *{
    color: white;
    font-family: 'Silkscreen', cursive;
    margin-left: 1rem;
    margin-right: 1rem;
}
.under-board{
    display: none;
    justify-content: space-between;
    width: 100%;
}
.under-board *{
    color: white;
    font-family: 'Silkscreen', cursive;
    margin-left: 1rem;
    margin-right: 1rem;
}
.pop-up{
    position: fixed;
    right: 40%;
    left: 40%;
    width: 20%;
    top:35%;
    height: 5rem;
}
.pop-up *{
    margin: 5px;
}